
/* General */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS',Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

hr {
    display: none;
}

/* Header */

header {
    text-align: center;
    width: 80%;
    margin: auto;
}

header h1, header h3 {
    font-weight: 100;
}

header h1 {
    margin-bottom: 0;
    font-size: 2.5em;
    margin-top: 0.2em;
}

header h3 {
    margin-top: 12px;
}

header img {
    display: inline-block;
    margin: 1.7em auto 0;
}

/* Main Image Section */

picture img {
    border: 5px solid #2d3c49;
    border-radius: 5px;
    display: block;
    margin: auto;
}

/* Featured Work Section */

.featured-work .work-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.featured-work h2{
    margin-left: 0.5em;
    text-align: center;
}

.featured-work .project {
    width: 100%;
    margin-bottom: 30px;
}

.featured-work .project img{
    display: block;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
}

.featured-work .project img:hover {
    opacity: .8;
    -webkit-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.featured-work .project h3,
.featured-work .project p {
    text-align: center;
}

.featured-work .project h3 {
    margin-bottom: 0;
    text-transform: uppercase;
}

.featured-work .project h3 a {
    color: black;
    text-decoration: none;
}

.featured-work .project h3:hover {
    -webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -webkit-transition: -webkit-transform 0.1s ease-in;
    transition: -webkit-transform 0.1s ease-in;
    -o-transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in;
    transition: transform 0.1s ease-in, -webkit-transform 0.1s ease-in;
}

.featured-work .project p {
    margin-top: 7px;
    font-size: 0.8em;
}

.featured-work .project p:hover a{
    color: #555;
}

.featured-work .project p a {
    color: black;
}

/* Footer */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 1em;
    -webkit-box-shadow: 0 -1px 5px #ccc;
    box-shadow: 0 -1px 5px #ccc;
}

footer p {
    width: 100%;
    margin: 0 auto 1em;
}

footer p span {
    font-weight: bold;
}

/* Media Queries */

@media screen and (min-width: 550px) {

    .featured-work .project {
        width: 50%;
    }

    .featured-work .project:last-of-type {
        width: 100%;
    }

    .featured-work .project img {
        width: 250px;
    }

    footer p {
        width: 50%;
    }

    footer p:last-of-type {
        width: 100%;
    }

}

@media screen and (min-width: 760px) {

    .container {
        width: 760px;
        margin: 10px auto;
        padding: 10px;
        -webkit-box-shadow: 5px 5px 5px #ccc,
                            0px 0px 7px #ccc;
        box-shadow: 5px 5px 5px #ccc,
                    0px 0px 7px #ccc;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 1.5em;
        text-align: right;
    }

    header img {
        margin: 0;
        margin-left: 30px;
    }

    header .info {
        margin-right: 30px;
    }

    picture img {
        border: none;
        margin-top: 1em;
    }

    hr {
        display: block;
        height: 5px;
        background-color: #2d3c49;
    }

    .featured-work h2 {
        margin-bottom: 7px;
        margin-top: 35px;
        text-align: left;
    }

    .featured-work .project {
        width: 32% !important;
        margin: 1em auto;
    }

    footer {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    footer p {
        width: 33.3% !important;
    }

}